<a href="https://colab.research.google.com/github/srinath68/19K45A0209/blob/master/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [6]:
a=float(input("Enter length of 1st side of a triangle:"))  
b=float(input("Enter length of 2nd side of a triangle:"))  
c=float(input("Enter length of 3rd side of a triangle:"))  
if(a+b>c):
  s=(a+b+c)/2  
  area=(s*(s-a)(s-b)(s-c))**(1/2)
  print("The area of the triangle is= ", round(area,2))
else:
  print("The triangle is not possible")

Enter length of 1st side of a triangle:10
Enter length of 2nd side of a triangle:20
Enter length of 3rd side of a triangle:30
The triangle is not possible

#2. Take a string from end user and check if the value is palindrome or not.

In [7]:
s=input("Enter a string:")
if(s==s[::-1]):
    print("Given string {} is palindrome".format(s))
else:
    print("Given string {} is not palindrome".format(s))

Enter a string:56
Given string 56 is not palindrome

#3. Write a program that reads a year from the user and displays a message indicating whether year is leap year or not.

In [8]:
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("{} The entered year is leap year".format(year))
else:
    print("{} The entered year is not a leap year".format(year))

Enter the year:2020
2020 The entered year is leap year

#4. Space to Hyphen problem
#   Take a string as input, and replaces spaces " " with hyphens "-", and returns a string.
#   Input: "This program converts spaces into hyphen"
#   Output: "This-program-converts-spaces-into-hyphen"

In [13]:
n=input("Enter a string : ")
print(n.replace(' ','-'))

Enter a string : "This program converts spaces into hyphen"
"This-program-converts-spaces-into-hyphen"

#5. Unique Sort Problem.
#   Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
#   Input: orange,white,red,cyan,green,magenta,cyan,pink,white
#   Output: cyan,green,magenta,orange,pink,red,white

In [30]:
str=input("Enter a string: ")
s=str.split()
s.sort()
list(s)
set(s)

Enter a string: orange,white,red,cyan,green,magenta,cyan,pink,white

{'orange,white,red,cyan,green,magenta,cyan,pink,white'}

#6. Tax Calculator
#   Ask the user for their monthly salary. Calculate whether they have to pay tax and if so,
#   how much is that amount .Print the result.

In [32]:
salary=int(input("Enter the salary : "))
if (salary>=0) and (salary<=250000):
    tax=(salary*0)
elif (salary>250000) and (salary<=500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (salary>1250000) and (salary<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("Tax is : ",tax)

Enter the salary : 25378933
Tax is :  7613679.899999999

#7. Take a list of integers as an argument, and converts it into a single integer (return the integer).
#   input:[11,33,50]
#   output:113350

In [33]:
l=[11,33,50]
for i in l:
  print(i,end="")

113350

#8. Units of Time
#   Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. 
#   Compute and display the total number of seconds represented by this duration.

In [42]:
secondspermin=60
secondsperhour=3600
secondsperday=86400
days=int(input("Enter the number of Days: "))
hours=int(input("Enter the number of Hours: "))
minutes=int(input("Enter the number of Minutes: "))
seconds=int(input("Enter the number of Seconds: "))
totalseconds=days*secperday
totalseconds=totalsecs+(hours*secperhour)
totalseconds=totalsecs+(minutes*secpermin)
totalseconds=totalsecs+seconds
print("Total number of seconds = ","%d"%(totalseconds))

Enter the number of Days: 1
Enter the number of Hours: 1
Enter the number of Minutes: 1
Enter the number of Seconds: 1

NameError: ignored

#9. Sort 3 integers
#   Given three integers (given through user input), sort the numbers using |min| and |max| functions.

In [44]:
a=int(input("Enter the number of a:"))
b=int(input("Enter the number of b:"))
c=int(input("Enter the number of c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("The Sorted order is:",d,f,e)

Enter the number of a:17
Enter the number of b:06
Enter the number of c:2000
The Sorted order is: 6 17 2000

#10.  Write a program that reads a date from the user and computes its immediate successor.The date is the format YYYY-MM-DD. So, 2020-04-15
#     will have the successor 2020-04-16.

In [45]:
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2000
Enter a month between 1 to 12 : 6
Enter a day between 1 to 31 : 17
The immediate successor is YYYY-MM-DD : 2000-6-18.

#11. Compute product of a list of numbers [45,3,2,89,72,1,10,7]
#    Output: 121111200

In [46]:
list=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(list)):
    n=n*list[i]
print(n)

121111200

#12.  Compute given Num_list=[5,6,8,34,89,1] to get desired output.
#     Output : Out_list=[11,14,42,123,90]

In [47]:
l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

#13.  Compute given Num_tuple=(5,6,8,3,9,1) to get desired output.
#     Output : Out_list=[5,30,240,720,6480,6480]

In [49]:
n=(5,6,8,3,9,1)
Out_list=[]
Out_list.append(n[0])
for i in range(len(n)-1):
    m=Out_list[i]*t[i+1]
    Out_list.append(m)
print("Out_list=",Out_list)

NameError: ignored

#14.  Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2].

In [51]:
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(number[n])
print(list)

Enter a number: 586392
['5', '8', '6', '3', '9', '2']

#15. Write a program that finds the longest palindromic substring of a given string.

In [52]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : hello am babblu
bab

#16.  Substring Check (Bug Funny)
#     Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
#     First two lines of input:
#     1010110010          10110
#     1110111011           10011
#     First two lines of output:
#     1
#     0

In [57]:
t=int(input())
for i in range(t):
  A,B=input("Enter A string and B string : ").split()
  if B in A:
    print("1")
  else:
    print("0")

101011001010110
Enter A string and B string : 111011101110011

ValueError: ignored

#17 pouring water
given two vessel,one of which can accommodate a liters of water and the other -b liters of water ,determine the number of steps required to obtain exactly c liters of water in one of the vessels

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 3767
Enter capacity of vessel a : 76
Enter capacity of vessel b : 76
Enter capacity to be obtained :97
Minimum number of steps required is :  -1
Enter capacity of vessel a : 76
Enter capacity of vessel b : 98
Enter capacity to be obtained :6
Minimum number of steps required is :  76
Enter capacity of vessel a : 87
Enter capacity of vessel b : 5
Enter capacity to be obtained :65
Minimum number of steps required is :  26
Enter capacity of vessel a : 76
Enter capacity of vessel b : 4
Enter capacity to be obtained :65
Minimum number of steps required is :  -1
Enter capacity of vessel a : 65
Enter capacity of vessel b : 5
Enter capacity to be obtained :6
Minimum number of steps required is :  -1
Enter capacity of vessel a : 76
Enter capacity of vessel b : 65
Enter capacity to be obtained :76
Minimum number of steps required is :  1
Enter capacity of vessel a : 65
Enter capacity of vessel b : 56
Enter capacity to be obtained :56
Minimum number of steps required is :  1
Enter capacity of vessel a : 6
Enter capacity of vessel b : 67
Enter capacity to be obtained :978
Minimum number of steps required is :  -1
Enter capacity of vessel a : 78
Enter capacity of vessel b : 87
Enter capacity to be obtained :76
Minimum number of steps required is :  -1
Enter capacity of vessel a : 9867
Enter capacity of vessel b : 876
Enter capacity to be obtained :543
Minimum number of steps required is :  2918
Enter capacity of vessel a : 32
Enter capacity of vessel b : 978
Enter capacity to be obtained :54
Minimum number of steps required is :  184
Enter capacity of vessel a : 6
Enter capacity of vessel b : 654
Enter capacity to be obtained :756
Minimum number of steps required is :  -1
Enter capacity of vessel a : 987
Enter capacity of vessel b : 45
Enter capacity to be obtained :876
Minimum number of steps required is :  326
Enter capacity of vessel a : 6543
Enter capacity of vessel b : 3244
Enter capacity to be obtained :356
Minimum number of steps required is :  9290
Enter capacity of vessel a : 6976
Enter capacity of vessel b : 9876
Enter capacity to be obtained :09874
Minimum number of steps required is :  -1
Enter capacity of vessel a : 9999976
Enter capacity of vessel b : 976765
Enter capacity to be obtained :6780
Minimum number of steps required is :  7610946